# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# exe
*.exe
test_lindows
*.svn*

_yundriver.exp
driver.c
unix.mk
win32.mk
win32/compat.h
win32/snappy.c
win32/snappy.h
yundriver_wrap.c

